body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar-brand {
  height: 80px;
  padding: 0px 15px;
}
.navbar-brand img {
  height: 50px;
  margin: 15px 0;
}
.navbar, .footer {
  background-color: #f7921d;
}
#content {
  margin-top: 100px;
}
.footer {
  width: 100%;
  height: 60px;
}
#map {
  height: 480px;
}
