{% extends 'base.html' %}

{% block css %}
  {{ super() }}
  <link href='{{ STATIC_URL }}/css/font-awesome.min.css' rel="stylesheet"/>
{% endblock %}

{% block overlay %}
<div class="overlay"></div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h2>Bem Vind@!</h2>
    <p>Se você está por aqui é porque possui algum interesse pelo Django Girls. (e isso é demais!)</p>
  </div>
</div>
<div class="row icons">
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="icon">
      <i class="fa fa-heart"></i>
    </div>
    <p>Django Girls é uma instituição sem fins lucrativos. Nossa missão é iniciar mulheres na área de tecnologia. Para saber mais sobre, acesse a <a href="https://djangogirls.org/">página oficial da organização</a>.</p>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="icon">
      <i class="fa fa-github-alt"></i>
    </div>
    <p>Este projeto é um agregador de informações para eventos no Brasil. Sinta-se livre para melhorá-lo ou adicionar o seu evento aqui! Para mais informações acesse o <a href="https://github.com/pyladies-brazil/django-girls-events">nosso repositório no GitHub</a>.</p>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="icon">
      <i class="fa fa-plus"></i>
    </div>
    <p>Você pode nos ajudar de muitas maneiras! Faça um fork deste projeto, ajude-nos a manter a nossa documentação pt-br ou crie o seu próprio evento Django Girls na sua cidade! Para mais informações, acesse a seção <a href="docs.html">Documentação</a></p>
  </div>
</div>
{% endblock %}
