<html lang="{{ DEFAULT_LANG }}">
<head>
{% block head %}
  <title>{{ SITENAME }}</title>
  <meta charset="{{ CHARSET }}">
  <meta name="description" content="{{ SITE_DESCRIPTION }}">
  <meta name="keywords" content="{{ SITE_KEYWORDS }}">
  <link rel="icon" href="{{ STATIC_URL }}/img/favicon.png">
{% endblock %}
{% block css %}
  <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Ubuntu:400,700'>
  <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic'>
  <link rel="stylesheet" type='text/css' href="{{ STATIC_URL }}/css/bootstrap.min.css">
  <link rel="stylesheet" type='text/css' href="{{ STATIC_URL }}/css/main.min.css">
{% endblock %}
{% block scripts %}
  <script src='{{ STATIC_URL }}/js/jquery.min.js'></script>
{% endblock %}
</head>

<body>

{% block navbar %}
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ SITE_URL }}">
        <img src="{{ STATIC_URL }}/img/logo-transparent.png">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#sobre">Sobre</a></li>
        <li><a href="#docs">Documentação</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

<div id="content" class="container">
{% block content %}
{% endblock %}
</div>

<footer class="footer">
  <div class="container">
    {% block footer %}
    <p>Desenvolvido por <a href="https://github.com/pgrangeiro/">@pgrangeiro</a> e mantido por <a href="http://brasil.pyladies.com/">PyLadies Brasil</a>.</p>
    <p><a href="https://djangogirls.org/">Django Girls</a> é uma iniciativa sem fins lucrativos. Todos os participantes devem seguir o <a href="https://djangogirls.org/pages/coc-pt-br/">Código de Conduta</a>.</p>
    {% endblock %}
  </div>
</footer>

</body>
</html>
