<html lang="{{ DEFAULT_LANG }}">
<head>
{% block head %}
  <title>{{ SITENAME }}</title>
  <meta charset="{{ CHARSET }}">
  <meta name="description" content="{{ SITE_DESCRIPTION }}">
  <meta name="keywords" content="{{ SITE_KEYWORDS }}">
  <link rel="icon" href="{{ STATIC_URL }}/img/favicon.png">
{% endblock %}
{% block css %}
  <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic'>
  <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic'>
  <link rel="stylesheet" type='text/css' href="{{ STATIC_URL }}/css/bootstrap.min.css">
  <link rel="stylesheet" type='text/css' href="{{ STATIC_URL }}/css/styles.min.css">
{% endblock %}
{% block scripts %}

{% endblock %}
</head>

<body>

{% block navbar %}
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ SITE_URL }}">
        <img src="{{ STATIC_URL }}/img/logo-transparent.png">
      </a>
    </div>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
    </ul>
  </div>
</div>
{% endblock %}

<div id="content" class="container">
{% block content %}
{% endblock %}
</div>

<div class="footer">
  <div class="container">
    {% block footer %}
    <p class="text-muted">
    </p>
    {% endblock %}
  </div>
</div>

</body>
</html>
