{% extends 'base.html' %}

{% block css %}
  {{ super() }}
  <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
  <link href='{{ STATIC_URL }}/css/font-awesome.min.css' rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
  <script src='{{ STATIC_URL }}/js/handlebars.min.js'></script>
  <script src='{{ STATIC_URL }}/js/scripts.js'></script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-6">
    {% include 'includes/events-list.html' %}
  </div>
  <div class="col-lg-6">
    <div id="map"></div>
  </div>
</div>
{% endblock %}
